<a href="https://colab.research.google.com/github/suwutjaneet/Data_Viz/blob/main/Midterm_dataviz_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. ปรับ Z-score ของคะแนนของกรรมการสอบแต่ละท่าน (ไฟล์ คะแนนสอบปากเปล่าของกรรมการสอบ_renamed.xlsx)

In [134]:
import pandas as pd

In [135]:
from google.colab import drive
drive.mount("/content/drive",force_remount=True)

Mounted at /content/drive

In [136]:
import os
path = '/content/drive/My Drive/dataviz_2021_data'

In [137]:
score_1 = os.path.join(path, 'คะแนนสอบปากเปล่าของกรรมการสอบ_renamed.xlsx')
print(score_1)

/content/drive/My Drive/dataviz_2021_data/คะแนนสอบปากเปล่าของกรรมการสอบ_renamed.xlsx

In [139]:
data1 = pd.read_excel(score_1)
data1.head()

  วันจันทร์ที่ 7 ธันวาคม 2563  ... Unnamed: 12
0                     ห้องสอบ  ...         รวม
1                         NaN  ...          70
2                     SC 6501  ...          52
3                         NaN  ...          50
4                         NaN  ...          60

[5 rows x 13 columns]

In [167]:
smaller_table = data1[['Unnamed: 5','เกณฑ์การให้คะแนน','Unnamed: 7','Unnamed: 8',	'Unnamed: 9',	'Unnamed: 10',	'Unnamed: 11','Unnamed: 12','Unnamed: 2']]
smaller_table

    Unnamed: 5  ...                                         Unnamed: 2
0   กรรมการสอบ  ...                                         ชื่อเรื่อง
1          NaN  ...                                                NaN
2   ผศ.วุฒิชัย  ...  1.การศึกษาแนวทางการประกันภัยพืชผลสำหรับมันสำปะ...
3          NaN  ...                                                NaN
4     อ.ยุภาพร  ...                                                NaN
5          NaN  ...                                                NaN
6   ผศ.วุฒิชัย  ...  2.การศึกษาการทำประกันภัยพืชผลจากภัยแล้งโดยใช้ค...
7          NaN  ...                                                NaN
8     อ.ยุภาพร  ...                                                NaN
9          NaN  ...                                                NaN
10  ดร.อุทุมพร  ...  3.ตัวแบบทำนายการออกกำลังกายของประชากรอำเภอเมือ...
11         NaN  ...                                                NaN
12   ดร.วรรณพร  ...                                                NaN
13         NaN  ...                                                NaN
14  ดร.อุทุมพร  ...  4.ปัจจัยที่ส่งผลต่อสุขภาพกายและสุขภาพจิตของบุค...
15         NaN  ...                                                NaN
16   ดร.วรรณพร  ...                                                NaN
17         NaN  ...                                                NaN
18  ดร.อุทุมพร  ...  5.ปัจจัยที่ส่งผลต่อสุขภาพกายและสุขภาพจิตของนัก...
19         NaN  ...                                                NaN
20   ดร.วรรณพร  ...                                                NaN
21         NaN  ...                                                NaN
22   ดร.วรรณพร  ...  6.ปัจจัยที่มีผลต่อความพึงพอใจในการใช้บริการรถต...
23         NaN  ...                                                NaN
24   อ.ธรรณญพร  ...                                                NaN
25         NaN  ...                                                NaN
26   รศ.วิชุดา  ...  7.เว็บแอปพลิเคชันสำหรับการสร้างแบบจำลอง 3 มิติ...
27         NaN  ...                                                NaN
28    ดร.พลากร  ...                                                NaN
29         NaN  ...                                                NaN
30   รศ.วิชุดา  ...  8.การออกแบบและพัฒนาแชทบอทสำหรับการเรียนการสอนโ...
31         NaN  ...                                                NaN
32    ดร.พลากร  ...                                                NaN
33         NaN  ...                                                NaN
34   ดร.ธนพงศ์  ...  9.ตัวแบบทำนายความรุนแรงของการบาดเจ็บทางการจราจ...
35   ดร.ธิปไตย  ...                                                NaN
36   รศ.วิชุดา  ...  10.การพัฒนาชุดข้อมูลและตัวแบบสำหรับฝึกตัวแบบระ...
37         NaN  ...                                                NaN
38  ผศ.วุฒิชัย  ...                                                NaN
39         NaN  ...                                                NaN
40   อ.ธรรณญพร  ...  11.ความคิดเห็นต่อปัจจัยที่มีผลในการตัดสินใจเลื...
41         NaN  ...                                                NaN
42  ผศ.สุกัญญา  ...                                                NaN
43         NaN  ...                                                NaN
44   อ.ธรรณญพร  ...  12.การศึกษาความคิดเห็นที่มีต่อปัจจัยที่ส่งผลต่...
45         NaN  ...                                                NaN
46  ผศ.สุกัญญา  ...                                                NaN
47         NaN  ...                                                NaN
48   อ.ธรรณญพร  ...  13.ความคิดเห็นต่อปัจจัยที่ส่งผลในการเลือกใช้บร...
49         NaN  ...                                                NaN
50    อ.ยุภาพร  ...                                                NaN
51         NaN  ...                                                NaN
52  ดร.อุทุมพร  ...  14.ตัวแบบพยากรณ์จำนวนผู้ติดเชื้อไวรัสสะสม 6 อั...
53         NaN  ...                                                NaN
54    ดร.พลากร  ...                                                NaN
55         NaN  ...                                                NaN

[56 rows x 9 columns]

In [181]:
data_scorewan = data_covid[data_covid['Unnamed: 5']=='ดร.วรรณพร']
data_scorewan

   วันจันทร์ที่ 7 ธันวาคม 2563        Unnamed: 1  ... Unnamed: 11 Unnamed: 12
12                         NaN               NaN  ...           8          56
16                         NaN               NaN  ...           8          56
20                         NaN               NaN  ...           7          53
22                         NaN  15:00 – 17.00 น.  ...           8          56

[4 rows x 13 columns]

In [186]:
smaller_table1 = data_scorewan[['Unnamed: 5','เกณฑ์การให้คะแนน','Unnamed: 7','Unnamed: 8',	'Unnamed: 9',	'Unnamed: 10',	'Unnamed: 11','Unnamed: 12']]
smaller_table1

   Unnamed: 5 เกณฑ์การให้คะแนน Unnamed: 7  ... Unnamed: 10 Unnamed: 11 Unnamed: 12
12  ดร.วรรณพร                9          9  ...          15           8          56
16  ดร.วรรณพร               10          7  ...          16           8          56
20  ดร.วรรณพร               10          7  ...          15           7          53
22  ดร.วรรณพร                9          8  ...          15           8          56

[4 rows x 8 columns]

In [196]:
data_scoretha = data_covid[data_covid['Unnamed: 5']=='ดร.ธนพงศ์']
data_scoretha

   วันจันทร์ที่ 7 ธันวาคม 2563        Unnamed: 1  ... Unnamed: 11 Unnamed: 12
34                         NaN  13:00 – 15.00 น.  ...           9          60

[1 rows x 13 columns]

In [197]:
smaller_table2 = data_scoretha[['Unnamed: 5','เกณฑ์การให้คะแนน','Unnamed: 7','Unnamed: 8',	'Unnamed: 9',	'Unnamed: 10',	'Unnamed: 11','Unnamed: 12']]
smaller_table2

   Unnamed: 5 เกณฑ์การให้คะแนน Unnamed: 7  ... Unnamed: 10 Unnamed: 11 Unnamed: 12
34  ดร.ธนพงศ์                9         10  ...          16           9          60

[1 rows x 8 columns]

In [198]:
data_scorewut = data_covid[data_covid['Unnamed: 5']=='ผศ.วุฒิชัย']
data_scorewut

   วันจันทร์ที่ 7 ธันวาคม 2563        Unnamed: 1  ... Unnamed: 11 Unnamed: 12
2                      SC 6501  08:00 – 10.00 น.  ...           6          52
6                          NaN  10:00 – 12.00 น.  ...           7          52
38                         NaN               NaN  ...           9          60

[3 rows x 13 columns]

In [199]:
smaller_table3 = data_scorewut[['Unnamed: 5','เกณฑ์การให้คะแนน','Unnamed: 7','Unnamed: 8',	'Unnamed: 9',	'Unnamed: 10',	'Unnamed: 11','Unnamed: 12']]
smaller_table3

    Unnamed: 5 เกณฑ์การให้คะแนน Unnamed: 7  ... Unnamed: 10 Unnamed: 11 Unnamed: 12
2   ผศ.วุฒิชัย                8          8  ...          15           6          52
6   ผศ.วุฒิชัย                8          8  ...          14           7          52
38  ผศ.วุฒิชัย                9          8  ...          18           9          60

[3 rows x 8 columns]

In [201]:
data_scoreyu = data_covid[data_covid['Unnamed: 5']=='อ.ยุภาพร']
data_scoreyu

   วันจันทร์ที่ 7 ธันวาคม 2563 Unnamed: 1  ... Unnamed: 11 Unnamed: 12
4                          NaN        NaN  ...           8          60
8                          NaN        NaN  ...           7          48
50                         NaN        NaN  ...           6          42

[3 rows x 13 columns]

In [202]:
smaller_table4 = data_scoreyu[['Unnamed: 5','เกณฑ์การให้คะแนน','Unnamed: 7','Unnamed: 8',	'Unnamed: 9',	'Unnamed: 10',	'Unnamed: 11','Unnamed: 12']]
smaller_table4

   Unnamed: 5 เกณฑ์การให้คะแนน Unnamed: 7  ... Unnamed: 10 Unnamed: 11 Unnamed: 12
4    อ.ยุภาพร                9          8  ...          18           8          60
8    อ.ยุภาพร                7          7  ...          13           7          48
50   อ.ยุภาพร                6          6  ...          12           6          42

[3 rows x 8 columns]

In [203]:
data_scoretum = data_covid[data_covid['Unnamed: 5']=='ดร.อุทุมพร']
data_scoretum

   วันจันทร์ที่ 7 ธันวาคม 2563        Unnamed: 1  ... Unnamed: 11 Unnamed: 12
10                   SC 6502\n  08:00 – 10.00 น.  ...           6          53
14                         NaN  10:00 – 12.00 น.  ...           6          54
18                         NaN  13:00 – 15.00 น.  ...           6          48
52                         NaN  15:00 – 17.00 น.  ...           5          58

[4 rows x 13 columns]

In [204]:
smaller_table5 = data_scoretum[['Unnamed: 5','เกณฑ์การให้คะแนน','Unnamed: 7','Unnamed: 8',	'Unnamed: 9',	'Unnamed: 10',	'Unnamed: 11','Unnamed: 12']]
smaller_table5

    Unnamed: 5 เกณฑ์การให้คะแนน Unnamed: 7  ... Unnamed: 10 Unnamed: 11 Unnamed: 12
10  ดร.อุทุมพร               10         10  ...          13           6          53
14  ดร.อุทุมพร               10          8  ...          16           6          54
18  ดร.อุทุมพร               10          8  ...          12           6          48
52  ดร.อุทุมพร               10         10  ...          18           5          58

[4 rows x 8 columns]

In [205]:
data_scoretunya = data_covid[data_covid['Unnamed: 5']=='อ.ธรรณญพร']
data_scoretunya

   วันจันทร์ที่ 7 ธันวาคม 2563        Unnamed: 1  ... Unnamed: 11 Unnamed: 12
24                         NaN               NaN  ...           8          60
40                     SC 6410  08:00 – 10.00 น.  ...           7          48
44                         NaN  10:00 – 12.00 น.  ...           7          44
48                         NaN  13:00 – 15.00 น.  ...           6          44

[4 rows x 13 columns]

In [206]:
smaller_table6 = data_scoretunya[['Unnamed: 5','เกณฑ์การให้คะแนน','Unnamed: 7','Unnamed: 8',	'Unnamed: 9',	'Unnamed: 10',	'Unnamed: 11','Unnamed: 12']]
smaller_table6

   Unnamed: 5 เกณฑ์การให้คะแนน Unnamed: 7  ... Unnamed: 10 Unnamed: 11 Unnamed: 12
24  อ.ธรรณญพร                9          9  ...          16           8          60
40  อ.ธรรณญพร                6          6  ...          14           7          48
44  อ.ธรรณญพร                6          6  ...          12           7          44
48  อ.ธรรณญพร                6          6  ...          13           6          44

[4 rows x 8 columns]

In [207]:
data_scoresukun = data_covid[data_covid['Unnamed: 5']=='ผศ.สุกัญญา']
data_scoresukun

   วันจันทร์ที่ 7 ธันวาคม 2563 Unnamed: 1  ... Unnamed: 11 Unnamed: 12
42                         NaN        NaN  ...           7          47
46                         NaN        NaN  ...           6          43

[2 rows x 13 columns]

In [208]:
smaller_table7 = data_scoresukun[['Unnamed: 5','เกณฑ์การให้คะแนน','Unnamed: 7','Unnamed: 8',	'Unnamed: 9',	'Unnamed: 10',	'Unnamed: 11','Unnamed: 12']]
smaller_table7

    Unnamed: 5 เกณฑ์การให้คะแนน Unnamed: 7  ... Unnamed: 10 Unnamed: 11 Unnamed: 12
42  ผศ.สุกัญญา                6          6  ...          12           7          47
46  ผศ.สุกัญญา                6          5  ...          10           6          43

[2 rows x 8 columns]

In [210]:
data_scorevi = data_covid[data_covid['Unnamed: 5']=='รศ.วิชุดา']
data_scorevi

   วันจันทร์ที่ 7 ธันวาคม 2563        Unnamed: 1  ... Unnamed: 11 Unnamed: 12
26                   SC 6409\n  08:00 – 10.00 น.  ...           7          57
30                         NaN  10:00 – 12.00 น.  ...           7          51
36                         NaN  15:00 – 17.00 น.  ...           7          53

[3 rows x 13 columns]

In [211]:
smaller_table8 = data_scorevi[['Unnamed: 5','เกณฑ์การให้คะแนน','Unnamed: 7','Unnamed: 8',	'Unnamed: 9',	'Unnamed: 10',	'Unnamed: 11','Unnamed: 12']]
smaller_table8

   Unnamed: 5 เกณฑ์การให้คะแนน Unnamed: 7  ... Unnamed: 10 Unnamed: 11 Unnamed: 12
26  รศ.วิชุดา                9          8  ...          18           7          57
30  รศ.วิชุดา                8          7  ...          14           7          51
36  รศ.วิชุดา                9          7  ...          15           7          53

[3 rows x 8 columns]